# Node / frontend
node_modules/
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# Editor
.vscode/
*.code-workspace

# OS generated
Thumbs.db
Desktop.ini

# Assets
assets/*.psd
assets/*.ai
